html{
    top: 50%;
}

header{
    top: 0%;
}
body {
    background-color: powderblue;
    color: green;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
h1 {
    letter-spacing: 3px;
    background-color: white;
   text-align: center;
    align-content: center;
    border-left: 6px solid red;
    background-color: lightgrey;
    border-radius: 5px;

}
p {
    color: red;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: fit-content;
}

input {
    border-radius: 5px;
    margin-left: 50%;
}

div#carrinho {
    max-width:500px;
    margin: auto;
    border: 3px solid white;
}

div#supermercados {
    max-width:500px;
    margin: auto;
    border: 3px solid black;
    background-color: white;
}

