{
  "plugins": ["jest"],
  "extends": ["airbnb-base", "plugin:jest/recommended"],
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "prefer-template": "warn",
    "no-console": "off",
    "comma-dangle": ["error", "never"],
    "no-extra-parens": "error",
    "linebreak-style": 0,
    "max-len": ["error", { "code": 80 }],
    "arrow-parens": ["error", "always"],
    "no-underscore-dangle": "off",
    "consistent-return": "warn"
  }
}
